* {
  font-family: "Segoe UI";
  line-height: 25px;
}

:root {
  --blue: #0a192f;
  --lightslategray: #8892b0;
  --lavender: #ccd6f6;
  --aquamarine: #62fbd6;
  --slategray: #717c98;
  --smallfonts: "Redressed";
}
body {
  background: var(--blue);
}

.my-resume {
  background: #fff;
}

#education,
#experience,
#skills,
#contact,
#youtube {
  margin-top: 100px;
}

.navbar {
  background: var(--blue);
}

.navbar .nav-link {
  cursor: pointer;
}

.home-page {
  width: 100%;
  height: calc(100vh - 66px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home-page p {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: justify;
  color: var(--slategray);
}

.home-page .myJob {
  font-size: 6vw;
  word-spacing: 10px;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--lavender);
}
.home-page .role {
  font-size: 6vw;
  word-spacing: 10px;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--lightslategray);
}

.contactdetails > div {
  display: flex;
  align-items: center;
}

.heading-top {
  font-weight: bold;
  margin: 2rem 0 3rem;
  font-size: 2rem;
  color: var(--lavender);
}

.skills {
  margin-bottom: 50px;
}

.skills-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.skill-heading {
  color: var(--lavender);
  font-size: 16px;
  margin: 2rem 0 1rem;
}

.skills .skills-box {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 14px;
  background: #3d4c634a;
  border: 0.5px solid #e0e0e014;
}
.skills .text-center {
  color: var(--lightslategray);
}
.education-system {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.education .education-degree span {
  color: var(--lavender);
  font-size: 18px;
}
.education .education-degree .percentage {
  color: var(--lavender);
  font-size: 18px;
  margin-left: 1rem;
}

.education .college {
  font-size: 16px;
  margin: 4px 0;
}

.education .education-year {
  color: var(--lightslategray);
  font-size: 14px;
}

.experience-system {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 70vh;
  border: 1px solid var(--lightslategray);
  border-radius: 8px;
  margin: 50px 0;
}
.experience-system2 {
  flex-direction: row-reverse;
}
.experience .experience-details {
  color: var(--lavender);
  background: #3d4c634a;
  border: 0.5px solid #e0e0e014;
  padding: 1rem;
  border-radius: 4px;
}

.experience .companyName {
  color: var(--lavender);
}

.experience .experience-details .role {
  color: var(--lavender);
  font-size: 18px;
}

.experience .experience-details .company-name {
  color: var(--lightslategray);
  font-size: 18px;
  font-weight: bold;
}
.experience .experience-details .institute {
  color: var(--slategray);
  font-size: 16px;
}
.contact-form {
  margin-bottom: 3rem;
  /* height: 73vh; */
}
.contact-form .form-control {
  background: #3d4c634a;
  border: 0.5px solid #e0e0e014;
  color: var(--lightslategray);
}
.contact-form .form-label {
  color: var(--lavender);
}
.contact-form .btn-send {
  background-color: var(--lavender);
  color: var(--blue);
  font-weight: bold;
}
.MuiButtonBase-root {
  outline: none !important;
  border: none;
  color: #fff;
}
.contact-form .detail div:first-child {
  font-weight: bold;
  color: var(--lavender);
}

.contact-form .detail {
  margin: 1rem 0;
  color: var(--lightslategray);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact-form .detail .fa {
  width: 50px;
  height: 50px;
  background: var(--lightslategray);
  color: var(--blue);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.download-button-new {
  background: var(--lavender);
  font-weight: bold;
  color: var(--blue);
  padding: 0.5rem;
}
.youtube {
  min-height: 100vh;
}
.youtube .video-wrapper {
  position: relative;
  width: 100%; /* Adjust width based on your layout */
  max-width: 560px; /* Optional: Limit max width */
  aspect-ratio: 16 / 9; /* Maintain 16:9 aspect ratio */
}

.youtube .video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
  filter: opacity(0.5);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .education .MuiTimelineItem-root::before {
    display: none;
  }
  .skills-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }
}
